h2 {
  color: White;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}
h4 {
  color: white;
}
h5 {
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: 20px;
  
}
Body {
  background: Black;
}
p{
  color: white;
  text-align: center;
}
img {
  border-style: dotted;
    border-color: azure;
  border-radius: 30px;
} 
<style>
.Home Cooking { grid-area: header; }
.Fried Rice { grid-area: menu; }
.img src="https://cdn.pixabay.com/photo/2015/10/26/07/21/vegetables-1006694_1280.jpg { grid-area: main; }
.Cooking Tips { grid-area: right; }
.item5 { grid-area: footer; }
</style>
  

