h3 {
  color: Yellow;
  font-style: oblique;
  font-size: 20px;
  text-align: center;
}
h4 {
  color: white;
}
h5 {
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: 20px;
  
}
Body {
  background: Black;
}
h1{
  color: Orange;
  text-align: center;
  font-style: italic;
  font-size: 40px;

}
img {
  border-style: dotted;
    border-color: azure;
  border-radius: 30px;
  float: inherit; 
  width:  350px;
  height: 250px;
} 
li{
  font-family: arial;
  color:  white;
  font-size:15px;
}



