
h2 {
  color: White;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}
h4 {
  color: white;
}
h5 {
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: 20px;
  
}
Body {
  background: Black;
}
p{
  color: white;
  text-align: center;
}
img {
  border-style: dotted;
    border-color: azure;
  border-radius: 30px;
  
  
}

