h2 {
  color: White;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}
h1 {
  color: white;
}

  
}
Body {
  background: Black;
}
p{
  color: white;
  text-align: center;
}
img {
  border-style: dotted;
    border-color: azure;
  border-radius: 35px;
  float: right;
} 



